.heading__form {
    margin-left: .7em;
    padding-bottom: .5em;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
}

form {
    background-color: rgb(231, 231, 231);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.fieldset__journal {
    display: flex;
    flex-direction: column;
    border: 0;
}

.fieldset__journal label {
    margin-bottom: 2px;
}

#journalConcepts, #journalEntry {
    min-width: 20em;
}

#journalDate, #journalMood {
    width: 9.5em;
}

.fieldset__checkbox {
    margin-left: .8em;
    padding: .4em .5em 1em .5em;
}

.button__journal {
    margin: .5em 0 .5em .8em;
    padding: 1em 2em 1em 2em;

}

.button__journal:hover {
    opacity: .7;
}

.sort__container {
    display: flex;
}

.fieldset__search {
    flex: auto;
    margin-left: 2em
}

.fieldset__filter {
    margin-left: .5em;
}







.abs {
    display: none;
}






